<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="QuotationTrackingSystemDBConnectionString" connectionString="Data Source=(local);Initial Catalog=QuotationTrackingSystemDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QuotationTrackingSystemDBEntities" connectionString="metadata=res://*/App_Code.QuotationTrackingSystemModel.csdl|res://*/App_Code.QuotationTrackingSystemModel.ssdl|res://*/App_Code.QuotationTrackingSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=QuotationTrackingSystemDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CurrentUser">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Users">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Sales">
    <system.web>
      <authorization>
        <allow roles="Sales" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UnderWriters">
    <system.web>
      <authorization>
        <allow roles="UnderWriter" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Visits">
    <system.web>
      <authorization>
        <allow roles="Sales,SalesSupervisor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SalesSupervisor">
    <system.web>
      <authorization>
        <allow roles="SalesSupervisor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>