.page 
{
  width: 99.5%;
  margin-top: 0px;
}
.header
{
    background: #08C;
    border-bottom: solid 7px #000;
}
.hideSkiplink
{
    background: #010;
}
.main
{
  min-height: 600px;
}
.footr
{
    width: 100%;
}
.footr p
{
    padding-left: 10px;
    padding-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
.left{float:left;}
.right{float:right;}
.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb .active {
  color: #999999;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert .close
{
    cursor: pointer;
}
.borderTable tr td
{
    width: 25%;
    padding: 7px;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
}    
.borderTable tr td:last-child
{
    border-right: solid 1px #000;
}
.borderTable tr:last-child td
{
    border-bottom: solid 1px #000;
}
.btn-save
{
  margin-right: 11px;    
}

